@font-face {
  font-family: ChalkboardSEBold;
  src: url('./assets/font/ChalkboardSE-Bold.ttf');
}
@font-face {
  font-family: ChalkboardSELight;
  src: url('./assets/font/ChalkboardSE-Light.ttf');
}
@font-face {
  font-family: ChalkboardSERegular;
  src: url('./assets/font/ChalkboardSE-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'ChalkboardSE, sans-serif !important';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.post_card_text_container {
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  transform: translate(0, -40%);
  margin: 0 15px 10px;
  background-color: #63626280;
  overflow: hidden;
  padding: 1.2rem;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff;
}

.custom-button {
  /* min-width: 130px; */
  /* height: 40px; */
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  /* background: #d90429; */
  z-index: 1;
}
.custom-button:hover:after {
  width: 100%;
  left: 0;
}
.custom-button:after {
  border-radius: 5px;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #ef233c;
  right: 0;
}
.custom-button:active {
  top: 2px;
}
