@font-face {
  font-family: ChalkboardSEBold;
  src: url('./assets/font/ChalkboardSE-Bold.ttf');
}
@font-face {
  font-family: ChalkboardSELight;
  src: url('./assets/font/ChalkboardSE-Light.ttf');
}
@font-face {
  font-family: ChalkboardSERegular;
  src: url('./assets/font/ChalkboardSE-Regular.ttf');
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'ChalkboardSE, sans-serif !important';
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
